{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Post - Cerebral Enigma</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap">
    <link rel="stylesheet" href="{% static 'css/post.css' %}">
    <link rel="shortcut icon" href="{% static '3.png' %}" type="image/x-icon">
</head>
<body>
    <nav class="navbar">
        <div class="container">
            <a href="{% url 'home' %}">
                <img src="{% static '4.png' %}" alt="Cerebral Enigma Logo" class="logo">
            </a>
            <button class="hamburger-btn">&#9776;</button>
        </div>
    </nav>

    <main class="container">
        <div class="content">
            <article class="blog-content ubuntu-regular">
                <h1 class="post-title ubuntu-bold">{{title}}</h1>
                <div class="post-date">{{date}}</div>
                <section>
                    <h2 class="subheading ubuntu-medium">Subheading 1</h2>
                    <p>{{content|safe}}</p>
                </section>

                <!-- Add more sections as needed -->
            </article>

            <aside class="sidebar ubuntu-regular">
                <h3 class="sidebar-title ubuntu-bold">Related Posts</h3>
                <ul class="topics">
                    {% for post in categoryPosts %}
                    {% if post.title != title %}
                    <li><a href="/post/{{post.title}}">{{ post.title }}</a></li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </aside>
        </div>
    </main>
    <script src="{% static 'js/post.js' %}"></script>
</body>
</html>
